/* Reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Styles */
html {
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

label,
input {
  display: block;
}

.wrapper {
  width: fit-content;
  margin: 0 auto;
}

img {
  margin-bottom: 5px;
}

.main-heading-container {
  margin-bottom: 40px;
}

.main-heading {
  color: rgb(25, 25, 25);
  text-align: center;
  font-weight: 800;
  font-size: 4rem;
}

@media screen and (min-width: 560px) {
  .main-heading {
    font-size: 5rem;
  }
}

fieldset {
  margin-top: 35px;
}

legend {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 3.7rem;
}

@media screen and (min-width: 560px) {
  legend {
    font-size: 4rem;
  }
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  width: 400px;
  margin-bottom: 20px;
  margin-left: 5px;

  font-size: 1.7rem;
}

@media screen and (min-width: 560px) {
  label {
    font-size: 1.9rem;
  }
}

input,
select {
  width: 150px;
  height: 27.5px;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 2px;

  font-size: 1.5rem;
}

@media screen and (min-width: 560px) {
  input,
  select {
    font-size: 1.7rem;
  }
}

#hotkeysFieldset input {
  caret-color: transparent;
}

input[type="number"]:invalid {
  border-color: #ff6767;
}

input[type="number"]:focus-visible:invalid {
  outline: #ff6767 0.25px solid;
}

.buttons-container {
  display: flex;
  justify-content: space-between;

  max-width: 240px;
  margin-left: 2px;
  margin-top: 70px;
  margin-bottom: 5px;
}

button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 10px;

  font-size: 1.6rem;

  transition: transform 0.1 ease;
}

button:active {
  transform: translateY(1.25px);
}

@media screen and (min-width: 560px) {
  button {
    font-size: 1.8rem;
  }
}

.saved {
  background-color: rgb(89, 230, 89);
  font-weight: 500;
}

span {
  width: 140px;

  position: absolute;
  left: 64%;

  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 560px) {
  span {
    font-size: 1.7rem;
  }
}
